[{*.plist,*.xml}]
max_line_length = 1000
indent_style = space
indent_size = 2

[{*.cs,*.xaml}]
max_line_length = 180
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, file, required:suggestion
csharp_space_after_cast = true
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
csharp_place_type_constraints_on_same_line = false
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:error
csharp_prefer_simple_using_statement = true:error
csharp_prefer_braces = true:error
csharp_style_expression_bodied_methods = true:error
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = true:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = true:silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_space_around_binary_operators = before_and_after
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_prefer_static_local_function = true:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
dotnet_style_readonly_field = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:error
dotnet_sort_system_directives_first = true
dotnet_code_quality_unused_parameters = all:error

# ReSharper properties
resharper_redundant_empty_switch_section_highlighting = error
resharper_redundant_empty_finally_block_highlighting = error
resharper_empty_constructor_highlighting = error
resharper_entity_framework_model_validation_unlimited_string_length_highlighting = hint
resharper_redundant_suppress_nullable_warning_expression_highlighting = error
resharper_redundant_argument_default_value_highlighting = hint
resharper_redundant_extends_list_entry_highlighting = hint
resharper_collection_never_queried_local_highlighting = hint
resharper_unused_parameter_local_highlighting = error
resharper_redundant_using_directive_highlighting = error
resharper_blank_lines_before_control_transfer_statements = 1
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_csharp_wrap_ternary_expr_style = chop_if_long
resharper_align_multiline_argument = true
resharper_align_multiline_array_and_object_initializer = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_parameter = true
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_place_type_constraints_on_same_line = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_invocation_rpar = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_enforce_line_ending_style = true
resharper_keep_existing_linebreaks = true
resharper_method_or_operator_body = expression_body
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_constructor_initializer_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_show_autodetect_configure_formatting_tip = false
resharper_use_indent_from_vs = false
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_lines = true
resharper_wrap_object_and_collection_initializer_style = chop_always
resharper_csharp_indent_method_decl_pars = inside
resharper_csharp_place_constructor_initializer_on_same_line = false
resharper_csharp_wrap_before_arrow_with_expressions = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_space_within_single_line_array_initializer_braces = true
resharper_use_heuristics_for_body_style = true
resharper_wrap_after_declaration_lpar = false
resharper_wrap_before_declaration_rpar = true
resharper_xmldoc_indent_text = ZeroIndent

# ReSharper inspection severities
resharper_unused_auto_property_accessor_global_highlighting = error
resharper_unused_type_global_highlighting = error
resharper_unused_member_global_highlighting = error
resharper_class_never_instantiated_global_highlighting = error
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_convert_to_primary_constructor_highlighting = hint
resharper_heap_view_object_allocation_evident_highlighting = none
resharper_inconsistent_naming_highlighting = error
resharper_invert_if_highlighting = none
resharper_property_can_be_made_init_only_global_highlighting = hint
resharper_redundant_base_qualifier_highlighting = error
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_deconstruction_declarations_highlighting = none
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_switch_statement_handles_some_known_enum_values_with_default_highlighting = none
resharper_use_collection_count_property_highlighting = none
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
resharper_arrange_accessor_owner_body_highlighting = suggestion
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = error
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
resharper_unused_type_local_highlighting = error
resharper_arrange_namespace_body_highlighting = error
resharper_unused_member_global_highlighting = hint
resharper_class_never_instantiated_global_highlighting = hint

#### Naming ####

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private, private_protected, protected, protected_internal
dotnet_naming_symbols.private_or_internal_field.required_modifiers =

dotnet_naming_symbols.private_or_internal_static_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_static_field.applicable_accessibilities = internal, private, private_protected
dotnet_naming_symbols.private_or_internal_static_field.required_modifiers = static

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers =

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method, local_function
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers =

dotnet_naming_symbols.non_private_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_fields.applicable_accessibilities = public, internal
dotnet_naming_symbols.non_private_fields.required_modifiers =

dotnet_naming_symbols.interface_should_be_begins_with_i_symbols.applicable_accessibilities = local, public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface_should_be_begins_with_i_symbols.applicable_kinds = interface
dotnet_naming_symbols.interface_should_be_begins_with_i_symbols.resharper_applicable_kinds = interface
dotnet_naming_symbols.interface_should_be_begins_with_i_symbols.resharper_required_modifiers = any

dotnet_naming_symbols.non_field_members_should_be_pascal_case_symbols.applicable_accessibilities = local, public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members_should_be_pascal_case_symbols.applicable_kinds = property, event, method, local_function
dotnet_naming_symbols.non_field_members_should_be_pascal_case_symbols.resharper_applicable_kinds = property, event, method, local_function
dotnet_naming_symbols.non_field_members_should_be_pascal_case_symbols.resharper_required_modifiers = any

dotnet_naming_symbols.non_private_fields_should_be_pascal_case_symbols.applicable_accessibilities = local, public, internal
dotnet_naming_symbols.non_private_fields_should_be_pascal_case_symbols.applicable_kinds = field
dotnet_naming_symbols.non_private_fields_should_be_pascal_case_symbols.resharper_applicable_kinds = any_field
dotnet_naming_symbols.non_private_fields_should_be_pascal_case_symbols.resharper_required_modifiers = any

dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const

dotnet_naming_symbols.private_or_internal_field_should_be_begins_with_and_lower_case_symbols.applicable_accessibilities = local, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.private_or_internal_field_should_be_begins_with_and_lower_case_symbols.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field_should_be_begins_with_and_lower_case_symbols.resharper_applicable_kinds = any_field
dotnet_naming_symbols.private_or_internal_field_should_be_begins_with_and_lower_case_symbols.resharper_required_modifiers = any

dotnet_naming_symbols.private_or_internal_static_field_should_be_begins_with_and_lower_case_symbols.applicable_accessibilities = local, internal, private, private_protected
dotnet_naming_symbols.private_or_internal_static_field_should_be_begins_with_and_lower_case_symbols.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_static_field_should_be_begins_with_and_lower_case_symbols.required_modifiers = static
dotnet_naming_symbols.private_or_internal_static_field_should_be_begins_with_and_lower_case_symbols.resharper_applicable_kinds = any_field
dotnet_naming_symbols.private_or_internal_static_field_should_be_begins_with_and_lower_case_symbols.resharper_required_modifiers = static

dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static, readonly

dotnet_naming_symbols.types_should_be_pascal_case_symbols.applicable_accessibilities = local, public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types_should_be_pascal_case_symbols.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types_should_be_pascal_case_symbols.resharper_applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types_should_be_pascal_case_symbols.resharper_required_modifiers = any

# Naming styles

dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.begins_with___and_lower_case.required_prefix = _
dotnet_naming_style.begins_with___and_lower_case.required_suffix =
dotnet_naming_style.begins_with___and_lower_case.word_separator =
dotnet_naming_style.begins_with___and_lower_case.capitalization = camel_case

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = error
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_private_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_private_fields_should_be_pascal_case.symbols = non_private_fields
dotnet_naming_rule.non_private_fields_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.private_or_internal_field_should_be_begins_with___and_lower_case.severity = suggestion
dotnet_naming_rule.private_or_internal_field_should_be_begins_with___and_lower_case.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_begins_with___and_lower_case.style = begins_with___and_lower_case

dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with___and_lower_case.severity = suggestion
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with___and_lower_case.symbols = private_or_internal_static_field
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with___and_lower_case.style = begins_with___and_lower_case

dotnet_naming_rule.interface_should_be_begins_with_i_rule.import_to_resharper = True
dotnet_naming_rule.interface_should_be_begins_with_i_rule.resharper_description = interface_should_be_begins_with_i
dotnet_naming_rule.interface_should_be_begins_with_i_rule.resharper_guid = bf72d628-9df2-4bf9-bb72-49d03862d8fe
dotnet_naming_rule.interface_should_be_begins_with_i_rule.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i_rule.style = i_upper_camel_case_style
dotnet_naming_rule.interface_should_be_begins_with_i_rule.symbols = interface_should_be_begins_with_i_symbols

dotnet_naming_rule.non_field_members_should_be_pascal_case_rule.import_to_resharper = True
dotnet_naming_rule.non_field_members_should_be_pascal_case_rule.resharper_description = non_field_members_should_be_pascal_case
dotnet_naming_rule.non_field_members_should_be_pascal_case_rule.resharper_guid = 69f162a2-7ce3-40c7-827a-580cb867488a
dotnet_naming_rule.non_field_members_should_be_pascal_case_rule.severity = error
dotnet_naming_rule.non_field_members_should_be_pascal_case_rule.style = upper_camel_case_style
dotnet_naming_rule.non_field_members_should_be_pascal_case_rule.symbols = non_field_members_should_be_pascal_case_symbols

dotnet_naming_rule.non_private_fields_should_be_pascal_case_rule.import_to_resharper = True
dotnet_naming_rule.non_private_fields_should_be_pascal_case_rule.resharper_description = non_private_fields_should_be_pascal_case
dotnet_naming_rule.non_private_fields_should_be_pascal_case_rule.resharper_guid = fbee9d6a-cf10-410d-bd52-4ee13e96ab7a
dotnet_naming_rule.non_private_fields_should_be_pascal_case_rule.severity = suggestion
dotnet_naming_rule.non_private_fields_should_be_pascal_case_rule.style = upper_camel_case_style
dotnet_naming_rule.non_private_fields_should_be_pascal_case_rule.symbols = non_private_fields_should_be_pascal_case_symbols

dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = suggestion
dotnet_naming_rule.private_constants_rule.style = lower_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols

dotnet_naming_rule.private_or_internal_field_should_be_begins_with_and_lower_case_rule.import_to_resharper = True
dotnet_naming_rule.private_or_internal_field_should_be_begins_with_and_lower_case_rule.resharper_description = private_or_internal_field_should_be_begins_with___and_lower_case
dotnet_naming_rule.private_or_internal_field_should_be_begins_with_and_lower_case_rule.resharper_guid = 5ac9b022-8987-47dc-a412-20b47eb7323c
dotnet_naming_rule.private_or_internal_field_should_be_begins_with_and_lower_case_rule.severity = suggestion
dotnet_naming_rule.private_or_internal_field_should_be_begins_with_and_lower_case_rule.style = lower_camel_case_style
dotnet_naming_rule.private_or_internal_field_should_be_begins_with_and_lower_case_rule.symbols = private_or_internal_field_should_be_begins_with_and_lower_case_symbols

dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_and_lower_case_rule.import_to_resharper = True
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_and_lower_case_rule.resharper_description = private_or_internal_static_field_should_be_begins_with___and_lower_case
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_and_lower_case_rule.resharper_guid = 32c5be2c-8cb0-42b4-ac70-70402005dd6f
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_and_lower_case_rule.severity = suggestion
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_and_lower_case_rule.style = lower_camel_case_style
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_and_lower_case_rule.symbols = private_or_internal_static_field_should_be_begins_with_and_lower_case_symbols

dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = suggestion
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols

dotnet_naming_rule.types_should_be_pascal_case_rule.import_to_resharper = True
dotnet_naming_rule.types_should_be_pascal_case_rule.resharper_description = types_should_be_pascal_case
dotnet_naming_rule.types_should_be_pascal_case_rule.resharper_guid = 6650041a-d500-4a0f-a2af-e2ca5cf9a1de
dotnet_naming_rule.types_should_be_pascal_case_rule.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case_rule.style = upper_camel_case_style
dotnet_naming_rule.types_should_be_pascal_case_rule.symbols = types_should_be_pascal_case_symbols

dotnet_naming_style.i_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix = I

dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _

dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case

## CUSTOM RULES ##

dotnet_diagnostic.CA2252.severity = warning
dotnet_diagnostic.CS0618.severity = suggestion
dotnet_diagnostic.IDE0130.severity = none

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDISP003.severity = suggestion
dotnet_diagnostic.IDISP008.severity = suggestion
# CA1863: Cache a 'CompositeFormat' instance rather than calling 'string.Format'
dotnet_diagnostic.CA1863.severity = suggestion
dotent_diagnostic.CA1826.severity = warning

dotnet_diagnostic.CA2000.severity = suggestion
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1051.severity = none
configure_await_analysis_mode = ui
